

.blur{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.ten img{
    width:10%;
    margin-left: 45%;
}

.twenty img{
    width:20%;
    margin-left: 40%;
}

.thirty img{
    width:30%;
    margin-left: 35%;
}

.fourty img{
    width:40%;
    margin-left: 30%;
}

.fifty img{
    width:50%;
    margin-left: 25%;
}

.sixty img{
    width:60%;
    margin-left: 20%;
}

.seventy img{
    width:70%;
    margin-left: 15%;
}

.eighty img{
    width:80%;
    margin-left: 10%;
}


