.md img{
    width: 50%;
    margin-left: 25%;
    display: block;
}

.blur{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}